<%- include('includes/head') %>
<%- include('includes/navbar') %>
	
<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>

		<div class="col-lg-8 my-4">
			<h1 class="text-center">Agenda</h1>
			<p class="text-center lead">
				Seus contatos estão abaixo:
			</p>

			<%- include('includes/messages') %>
			
			<% if (logged) { %>
				<% if (contacts.length > 0) { %>
				<div class="responsive-table">
					<table class="table">
						<% contacts.forEach(contact => { %>
							<tr>
								<td><%= contact.name %></td>
								<% %>
								<td><%= contact.lastName %></td>
								<td><%= contact.phone %></td>
								<td><%= contact.email %></td>
								<td>
									<a href="/contacts/index/<%= contact._id %>" 
										class="text-info">
										<button type="button" 
											class="btn btn-primary btn-sm">
											Editar
										</button>
									</a>
								</td>
								<td>
									<a href="/contacts/delete/<%= contact._id %>" 
										class="text-danger">
										<button type="button" 
											class="btn btn-danger btn-sm">
											Excluir
										</button>
									</a>
								</td>
							</tr>
						<% }); %>
					</table>
				</div>
				<% } else { %>
					<p class="text-center lead">Não há contatos salvos.</p>
				<% } %>
			<% } else { %>
				<p class="text-center lead">Entre na sua conta para salvar seus contatos.</p>
			<% } %>
		</div>
		
		<div class="col-lg-2"></div>
	</div>
</div>

<%- include('includes/footer') %>
